<a href="https://colab.research.google.com/github/alisolanki/TensorFlow-COVID-19-Prediction/blob/master/Covid_19_India_Cases_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports

In [0]:
# importing the required libraries
import pandas as pd

# Visualisation libraries
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import folium 
from folium import plugins

# Manipulating the default plot size
plt.rcParams['figure.figsize'] = 10, 12

# Disable warnings 
import warnings
warnings.filterwarnings('ignore')

# Datasets

In [9]:
#Learn how to read a .xls file by creating a dataframe using pandas
# Reading the datasets
df = pd.read_excel('/content/Covid cases in India.xlsx')
df_india = df.copy()
df

    S. No. Name of State / UT  ...  Cured  Death
0        1     Andhra Pradesh  ...      0      0
1        2              Bihar  ...      0      1
2        3       Chhattisgarh  ...      0      0
3        4              Delhi  ...      6      1
4        5            Gujarat  ...      0      1
5        6            Haryana  ...     11      0
6        7   Himachal Pradesh  ...      0      1
7        8          Karnataka  ...      3      1
8        9             Kerala  ...      4      0
9       10     Madhya Pradesh  ...      0      0
10      11        Maharashtra  ...      0      2
11      12            Manipur  ...      0      0
12      13            Mizoram  ...      0      0
13      14             Odisha  ...      0      0
14      15         Puducherry  ...      0      0
15      16             Punjab  ...      0      1
16      17          Rajasthan  ...      3      0
17      18         Tamil Nadu  ...      1      0
18      19          Telengana  ...      1      0
19      20         Chandigarh  ...      0      0
20      21  Jammu and Kashmir  ...      1      0
21      22             Ladakh  ...      0      0
22      23      Uttar Pradesh  ...     11      0
23      24        Uttarakhand  ...      0      0
24      25        West Bengal  ...      0      1

[25 rows x 6 columns]

In [0]:
# Coordinates of India States and Union Territories
India_coord = pd.read_excel('/content/Indian Coordinates.xlsx')

#Day by day data of India, Korea, Italy and Wuhan
dbd_India = pd.read_excel('/content/per_day_cases.xlsx',parse_dates=True, sheet_name='India')
dbd_Italy = pd.read_excel('/content/per_day_cases.xlsx',parse_dates=True, sheet_name="Italy")
dbd_Korea = pd.read_excel('/content/per_day_cases.xlsx',parse_dates=True, sheet_name="Korea")
dbd_Wuhan = pd.read_excel('/content/per_day_cases.xlsx',parse_dates=True, sheet_name="Wuhan")

# Analysing COVID-19 cases in India

In [0]:
#Playing around with the dataframe and creating a new attribute of 'Total Case'
#Total case is the total number of confirmed cases (Indian National + Foreign National)

df.drop(['S. No.'],axis=1,inplace=True)
df['Total cases'] = df['Total Confirmed cases (Indian National)'] + df['Total Confirmed cases ( Foreign National )']
total_cases = df['Total cases'].sum()
print('Total number of confirmed COVID 2019 cases across India till date (22nd March, 2020):', total_cases)